/*------ ROOT VARIABLES ------*/

@import url("https://fonts.googleapis.com/css2?family=Codystar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* set our html font across the app */
html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  /* main colors */
  --color-darkest: #343a40;
  --color-dark: #495057;
  --color-medium: #ced4da;
  --color-light: #f1f3f5;

  /* theme colors */
  --color-theme-dark: #1098ad;
  --color-theme-light: #14c1dc;
  --color-accent: #ffa94d;
}

/*------ CLEAN SLATE STYLES ------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*------ GENERIC STYLES ------*/

body {
  background: url("../images/black-background.webp") no-repeat center
    center/cover;
  background-color: var(--color-darkest);
  color: var(--color-light);
  ::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
  }
}

/*------ HEADERS ------*/

h1 {
  font-family: "Codystar";
  font-size: 5.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: var(--color-light);
  text-align: center;
  text-shadow: 1px 1px 1px var(--color-dark);
}

h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 600;
  padding-top: 0.5rem;
  letter-spacing: 0.3rem;
  color: var(--color-light);
  text-align: center;
}

/*------ TEXT ------*/

p {
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem;
}

/*------ MORE STYLE REMOVAL ------*/

a {
  text-decoration: none;
}

/*------ UTILITY CSS ------*/

.hidden {
  display: none;
}

/*------ CONTAINERS ------*/

/*flex container for the app*/
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

/*outer container for our content box*/
#outer-container {
  background-color: var(--color-darkest);
  border-radius: 1rem;
  width: 95%;
  margin: auto;
  padding: 2rem 1rem 4rem 1rem;

  text-align: center;
}

/*button grouping for all our pages buttons*/
.btn--group {
  /*to level the buttons on top of each other*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*score and question tracking*/
/* implement later*/

/*------ BTN STYLES ------*/

/*btn styles for all content buttons*/

.btn {
  font-size: 2rem;
  color: var(--color-light);
  font-weight: 500;
  text-align: center;
  padding: 0.75rem;
  background-color: var(--color-darkest);
  border: var(--color-light) inset;
  border-radius: 1rem;
  margin: 0.3rem;
}

.btn:hover,
.btn-selected {
  border: var(--color-accent) inset;
  color: var(--color-accent);
}

/* styling for correct choice, for user feedback */
.correct {
  border: var(--color-theme-accent) 0.75rem solid;
  background-color: var(--color-accent);
  color: var(--color-darkest);
}

.correct-btn {
  background-color: var(--color-accent);
  color: var(--color-darkest);
}

/* Styling for incorrect choice */
.incorrect {
  border: var(--color-theme-dark) 0.75rem solid;
}

.incorrect-btn {
  background-color: var(--color-theme-dark);
}

/*------ MODAL STYLES ------*/

/* we want the modal to popup and cover the whole screen when open then close / disappear when closed */
/* the modal used here was created with the following tutorial -> https://www.youtube.com/watch?v=XH5OW46yO8I */
/* added extra commenting as this was new territory for me, wanted to document code a bit more for future use */

#modal-container {
  /* want to set position to fixed to keep it in the same place and not pushed down */
  position: fixed;
  /* display to flex so we can align everything correctly in the middle */
  display: flex;
  justify-content: center;
  align-items: center;
  /* set top and left to 0 so that it can overlay other elements on the screen (modal is supposed to cover elements) */
  top: 0;
  left: 0;
  /* give it full vp space so as it doesn't show below content */
  width: 100vw;
  height: 100vh;
  /* now give it a bg (50% transparent img for the effect we want) */
  background: url("../images/modal-background.webp") no-repeat center
    center/cover;
  /* set opacity to 0 for when it's not active */
  opacity: 0;
  /* transition to make modal fade in */
  transition: opacity 0.3s ease;
  /* remove cursor effects for pc, want the user to be able to retain standard cursor even when window is hidden*/
  pointer-events: none;
}

/* now for our modal content, this will be the actual text and heading, whereas the above was the full container */
#modal-content {
  width: 95%;
  border: var(--color-darkest) 3px solid;
  background-color: var(--color-dark);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  color: var(--off-white);
  text-align: center;
}

/*styling the modal text */

#modal-content h2 {
  font-size: 3rem;
}

#modal-content p {
  margin-top: 2rem;
}

/* styling close modal button */
#close-modal {
  width: 14rem;
  margin-top: 3rem;
}

/*------ UTILITY CLASSES ------*/

/*hide modal when it's open will move modal container out of bounds to prevent it being clicked again*/

/*show modal when it's closed - will set opacity of modal container to 1*/
#modal-container.show-modal {
  pointer-events: auto;
  opacity: 1;
}

/*choice selection*/

/*------ MAIN STYLES ------*/

/*header*/

header {
  padding: 10px;
  background-color: var(--color-darkest);
  border-radius: 1rem;
  opacity: 0.8;
  width: 95%;
  margin-top: 6rem;
  display: flex;
  text-align: center;
  align-items: center;
  align-self: center;
  justify-content: center;
}

#high-scores {
  list-style: none;
  margin-bottom: 3rem;
}

li {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
}

/* pre game start styling */

#questions-container h2,
#difficulty-container h2,
#name-container h2 {
  font-size: 3rem;
  margin: 1rem;
}

/* form styles */
form {
  display: flex;
  flex-direction: column;
}

input {
  font-family: "Montserrat";
  font-size: 2rem;
  color: var(--color-darkest);
  padding: 0.4rem;
  margin-bottom: 1rem;
  margin-left: 5%;
  width: 90%;
  border-radius: 1rem;
  text-align: center;
}

form .btn {
  margin-left: 5%;
  width: 90%;
}

.num-question-btns,
.num-difficulty-btns {
  padding: 1rem;
  margin: 1rem;
  width: 25%;
}

/* styles for question and score count - want them side by side */
#counters-container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

/*------ MEDIA QUERIES ------*/

/* this project isn't as intensive as the previous as we don't have a lot of resizing to do
for now a few simple media queries to resize buttons / other elements for bigger screens */

/* Tablets */
@media only screen and (min-width: 481px) {
  h1 {
    font-size: 8rem;
    padding-top: 1rem;
  }

  #outer-container {
    padding: 2rem;
  }

  h2 {
    font-size: 5rem;
    padding-bottom: 2rem;
  }

  p {
    font-size: 3.4rem;
    padding-bottom: 3rem;
  }

  .btn {
    font-size: 3rem;
    margin: 1rem;
  }

  #modal-content {
    padding: 3rem;
  }

  #modal-content h2 {
    font-size: 7rem;
  }

  #close-modal {
    width: 30rem;
  }

  li {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }
}
